In [1]:
import pandas as pd 
import numpy as np
import datetime as dt
import glob
import seaborn as sns

In [2]:
##CARGANDO TRANSFERENCIAS

path = "C:\\Users\\jloayzap\\Documents\\JLP\\ANALISIS_OPERACIONES\\TRANSFERENCIAS"

filenames = glob.glob(path + "\*.xlsx")
#print('File names:', filenames)
df_trans = pd.DataFrame()

for f in filenames:
    data = pd.read_excel(f, 'Hoja1', converters={'Número Unico de Operación':str})
    df_trans = df_trans.append(data)
    
df_trans['CCI_Destino_2'] = np.where(df_trans['CCI Destino'].str.len() == 20, df_trans['CCI Destino'], '0' + df_trans['CCI Destino'].astype(str))
df_trans["ANIO"] = df_trans['Fecha Presentación'].str[:4] 
df_trans["MES"] = df_trans['Fecha Presentación'].str[5:7]
df_trans['ANIOMES'] = df_trans['ANIO'].astype(str) + df_trans['MES'].astype(str)
df_trans["Importe Transferencia"] = df_trans.rename(columns={'Importe Transferencia':'IMPORTE'}, inplace = True)
df_trans['IMPORTE_FINAL'] = df_trans['IMPORTE'].astype(float)

In [3]:
##PARTICIONANDO BASE 
#ENTRADAS
df_trans_ent = df_trans[df_trans['Transferencia'] == 'E - ENTR']
df_trans_ent = df_trans_ent[df_trans_ent.Estado.isin(['4 - Conforme', '5 - Conforme Abonado'])]
#df_trans_ent['CCI_Destino_2'] = df_trans_ent [['CCI Destino']]
#df_trans_ent["ANIO"] = df_trans_ent['Fecha Presentación'].str[:4] 
#df_trans_ent["MES"] = df_trans_ent['Fecha Presentación'].str[5:7]
#df_trans_ent["Importe Transferencia"] = df_trans_ent.rename(columns={'Importe Transferencia':'IMPORTE'}, inplace = True)
#df_trans_ent['IMPORTE_FINAL'] = df_trans_ent['IMPORTE'].astype(float)


#SALIDAS
df_trans_sal = df_trans[df_trans['Transferencia'] == 'S - SALID']
df_trans_sal = df_trans_sal[df_trans_sal.Estado.isin(['4 - Conforme', '5 - Conforme Abonado'])]
#df_trans_sal['CCI_Destino_2'] = df_trans_sal[['CCI Destino']]
#df_trans_sal["ANIO"] = df_trans_sal['Fecha Presentación'].str[:4] 
#df_trans_sal["MES"] =df_trans_sal['Fecha Presentación'].str[5:7]
#df_trans_sal["Importe Transferencia"] = df_trans_ent.rename(columns={'Importe Transferencia':'IMPORTE'}, inplace = True)
#df_trans_sal['IMPORTE_FINAL'] = df_trans_ent['IMPORTE'].astype(float)

In [4]:
##CARGANDO SALDOS
df_saldos = pd.read_csv("C:\\Users\\jloayzap\\Documents\\JLP\\SALDOS_MOVIMIENTO\\SALDOS\\Saldos.csv", sep = ";", converters={'NROCUENTA':str, 'NUMERODOCUMENTO':str, 'CCICODE':str})

C:\Users\jloayzap\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23,29,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
#Obteniendo DNI Clientes

##OBTENIENDO DNI CIENTE DESDE BASE DE SALDOS
df_trans_ent = df_trans_ent.merge(df_saldos[['CCICODE', 'TIPODOCUMENTO', 'NUMERODOCUMENTO']], left_on ='CCI_Destino_2', right_on='CCICODE', how='left')
df_trans_ent.head()

,Transferencia,Fecha Presentación,Fecha Liquidación,Sesión,Moneda,IMPORTE,Comisión Interbancaria,Comisión Cliente,Comisión Rechazo Cliente,Itf Transferencia,...,Secuencia Transf. Multiples,CCI_Destino_2,ANIO,MES,ANIOMES,Importe Transferencia,IMPORTE_FINAL,CCICODE,TIPODOCUMENTO,NUMERODOCUMENTO
0,E - ENTR,2021-08-31,2021-08-31,1 - Turno Mañana,1 - Soles,187.76,0.0,0.0,0,0.0,...,NaN,05410780010085561386,2021,08,202108,None,187.76,05410780010085561386,1.0,08269277
1,E - ENTR,2021-08-31,2021-08-31,1 - Turno Mañana,1 - Soles,95.00,0.0,0.0,0,0.0,...,NaN,05488882888002871732,2021,08,202108,None,95.00,05488882888002871732,1.0,41300587
2,E - ENTR,2021-08-31,2021-08-31,1 - Turno Mañana,1 - Soles,350.00,0.0,0.0,0,0.0,...,NaN,05430180010043326077,2021,08,202108,None,350.00,05430180010043326077,1.0,18078194
3,E - ENTR,2021-08-31,2021-08-31,1 - Turno Mañana,1 - Soles,34.00,0.0,0.0,0,0.0,...,NaN,05431480010032842201,2021,08,202108,None,34.00,05431480010032842201,1.0,40744416
4,E - ENTR,2021-08-31,2021-08-31,1 - Turno Mañana,1 - Soles,210.00,0.0,0.0,0,0.0,...,NaN,05460280010115910780,2021,08,202108,None,210.00,05460280010115910780,1.0,45008527

In [56]:
df_trans_ent[df_trans_ent['ANIOMES'] == '202111']

,Transferencia,Fecha Presentación,Fecha Liquidación,Sesión,Moneda,IMPORTE,Comisión Interbancaria,Comisión Cliente,Comisión Rechazo Cliente,Itf Transferencia,...,Secuencia Transf. Multiples,CCI_Destino_2,ANIO,MES,ANIOMES,Importe Transferencia,IMPORTE_FINAL,CCICODE,TIPODOCUMENTO,NUMERODOCUMENTO
257397,E - ENTR,2021-11-30,2021-11-30,1 - Turno Mañana,2 - Dólares Americanos,1760.00,0.21,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,1760.00,NaN,NaN,NaN
257398,E - ENTR,2021-11-30,2021-11-30,1 - Turno Mañana,1 - Soles,400.00,0.00,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,400.00,NaN,NaN,NaN
257399,E - ENTR,2021-11-30,2021-11-30,1 - Turno Mañana,1 - Soles,500.00,0.00,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,500.00,NaN,NaN,NaN
257400,E - ENTR,2021-11-30,2021-11-30,1 - Turno Mañana,1 - Soles,500.00,0.00,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,500.00,NaN,NaN,NaN
257401,E - ENTR,2021-11-30,2021-11-30,1 - Turno Mañana,1 - Soles,320.00,0.00,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,320.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291743,E - ENTR,2021-11-02,2021-11-03,2 - Turno Tarde,1 - Soles,5000.00,0.80,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,5000.00,NaN,NaN,NaN
291744,E - ENTR,2021-11-02,2021-11-03,2 - Turno Tarde,1 - Soles,522.93,0.80,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,522.93,NaN,NaN,NaN
291745,E - ENTR,2021-11-02,2021-11-03,2 - Turno Tarde,1 - Soles,2760.00,0.80,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,2760.00,NaN,NaN,NaN
291746,E - ENTR,2021-11-02,2021-11-03,2 - Turno Tarde,1 - Soles,462.50,7.00,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,462.50,NaN,NaN,NaN
291747,E - ENTR,2021-11-02,2021-11-03,2 - Turno Tarde,1 - Soles,165.00,0.80,0.0,0,0.0,...,NaN,0nan,2021,11,202111,None,165.00,NaN,NaN,NaN

In [6]:
grupo = pd.DataFrame()
grupo = df_trans_ent.groupby(['NUMERODOCUMENTO', 'ANIOMES']).NUMERODOCUMENTO.size()
df_trans_ent_grupo = pd.DataFrame(grupo.reset_index(name='CUENTA_OP'))
df_trans_ent_grupo.sort_values(['NUMERODOCUMENTO', 'ANIOMES'], ascending=False)
df_trans_ent_grupo['LLAVE'] = df_trans_ent_grupo['NUMERODOCUMENTO'].astype(str) + df_trans_ent_grupo['ANIOMES'].astype(str)

grupo = pd.DataFrame()
grupo = df_trans_ent.groupby(['NUMERODOCUMENTO', 'ANIOMES']).IMPORTE.sum()
df_trans_ent_sum = pd.DataFrame(grupo.reset_index(name='SUMA_OP'))
df_trans_ent_sum.sort_values(['NUMERODOCUMENTO', 'ANIOMES'], ascending=False)
df_trans_ent_sum['LLAVE'] = df_trans_ent_sum['NUMERODOCUMENTO'].astype(str) + df_trans_ent_sum['ANIOMES'].astype(str)

df_trans_ent_grupo_sum = df_trans_ent_grupo.merge(df_trans_ent_sum.drop_duplicates(subset=['LLAVE'])[['LLAVE', 'SUMA_OP']], left_on ='LLAVE', right_on='LLAVE', how='inner')
df_trans_ent_grupo_sum.sort_values(['CUENTA_OP', 'SUMA_OP'], ascending=False)

       NUMERODOCUMENTO ANIOMES  CUENTA_OP           LLAVE    SUMA_OP
90994         47398435  202203        225  47398435202203   31361.00
110658        76295926  202109        166  76295926202109  164364.72
39113         40210037  202108        160  40210037202108   55400.00
77879         45432938  202203        142  45432938202203   49840.58
102705        72158986  202203        142  72158986202203   32969.10
...                ...     ...        ...             ...        ...
108977        75275911  202201          1  75275911202201       0.01
109189        75404175  202201          1  75404175202201       0.01
109316        75459614  202203          1  75459614202203       0.01
110268        76059119  202201          1  76059119202201       0.01
111572        76774963  202202          1  76774963202202       0.01

[113701 rows x 5 columns]

In [7]:
df_trans_ent_grupo_sum_unico = df_trans_ent_grupo_sum[df_trans_ent_grupo_sum['CUENTA_OP'] == 1]
df_trans_ent_grupo_sum_mul = df_trans_ent_grupo_sum[df_trans_ent_grupo_sum['CUENTA_OP'] > 1]

Validar 4 tipologías 
 - Transferencias entradas montos unicos
 - Transferencias entradas montos multiples
 - Transferencias salidas montos unicos
 - Transferencias salidas montos multiples

In [10]:
#Particionar Dataframe df_trans_ent_grupo_sum_unico
for i, (ID, subdf) in enumerate(df_trans_ent_grupo_sum_unico.groupby('ANIOMES'), 1):
    locals()[f'df{ID}'] = subdf

In [47]:
#Generando multiples frecuencias

import math

dataframes_valores_prueba = df_trans_ent_grupo_sum_unico.ANIOMES.unique()

for i in dataframes_valores_prueba:
    #print(locals()[f'df{i}']['SUMA_OP'])
    #print ([f'df{i}'])
    
    pd.set_option('precision', 2)
    datos = locals()[f'df{i}']['SUMA_OP'].astype(float)

    # Cálculo del número de intervalos
    # Si la parte entera de k es un número impar, redondeamos a la baja
    k = 1 + 3.322 * math.log10(len(datos))
    numero = int(k)
    if numero % 2 == 0:
        periodos = math.ceil(k)
    else:
        periodos = int(k)

    inf = datos.min()        # Limite inferior del primer intervalo
    dif = datos.max()
    sup = datos.max() + 1    # Limite superior del último intervalo

    intervals = pd.interval_range(
        start=inf,
        end=sup,
        periods=k,
        name="Intervalo",
        closed="left")

    locals()[f'df_frec_{i}'] = pd.DataFrame(index=intervals)
    locals()[f'df_frec_{i}']["FreqAbs"] = pd.cut(datos, bins=locals()[f'df_frec_{i}'].index).value_counts()
    locals()[f'df_frec_{i}']["Marca"]  = locals()[f'df_frec_{i}'].index.mid

In [51]:
#Imprimir Dataframe particionado distribución
from IPython.display import display

for i in dataframes_valores_prueba:
    print (i)
    display(locals()[f'df_frec_{i}'])

202108

                                          FreqAbs      Marca
Intervalo
[0.01, 14285.795)                            9192    7142.90
[14285.795, 28571.579999999998)                82   21428.69
[28571.579999999998, 42857.365)                34   35714.47
[42857.365, 57143.15)                          13   50000.26
[57143.15, 71428.935)                           7   64286.04
[71428.935, 85714.71999999999)                  3   78571.83
[85714.71999999999, 100000.50499999999)         3   92857.61
[100000.50499999999, 114286.29)                 1  107143.40
[114286.29, 128572.075)                         1  121429.18
[128572.075, 142857.86000000002)                0  135714.97
[142857.86000000002, 157143.64500000002)        1  150000.75
[157143.64500000002, 171429.43)                 0  164286.54
[171429.43, 185715.215)                         0  178572.32
[185715.215, 200001.0)                          3  192858.11

202203

                                          FreqAbs      Marca
Intervalo
[0.01, 30000.080714285712)                   8736   15000.05
[30000.080714285712, 60000.15142857143)       303   45000.12
[60000.15142857143, 90000.22214285714)        123   75000.19
[90000.22214285714, 120000.29285714285)       156  105000.26
[120000.29285714285, 150000.36357142858)       37  135000.33
[150000.36357142858, 180000.4342857143)        13  165000.40
[180000.4342857143, 210000.505)                15  195000.47
[210000.505, 240000.57571428572)                4  225000.54
[240000.57571428572, 270000.64642857143)        8  255000.61
[270000.64642857143, 300000.71714285715)        8  285000.68
[300000.71714285715, 330000.78785714286)        1  315000.75
[330000.78785714286, 360000.8585714286)         2  345000.82
[360000.8585714286, 390000.9292857143)          1  375000.89
[390000.9292857143, 420001.0)                   7  405000.96

202202

                                          FreqAbs      Marca
Intervalo
[0.01, 28572.937857142853)                   8789   14286.47
[28572.937857142853, 57145.86571428571)       143   42859.40
[57145.86571428571, 85718.79357142856)         74   71432.33
[85718.79357142856, 114291.72142857141)        54  100005.26
[114291.72142857141, 142864.6492857143)        16  128578.19
[142864.6492857143, 171437.57714285713)         9  157151.11
[171437.57714285713, 200010.505)                6  185724.04
[200010.505, 228583.43285714285)                2  214296.97
[228583.43285714285, 257156.3607142857)         4  242869.90
[257156.3607142857, 285729.28857142857)         1  271442.82
[285729.28857142857, 314302.21642857144)        6  300015.75
[314302.21642857144, 342875.14428571425)        0  328588.68
[342875.14428571425, 371448.0721428571)         1  357161.61
[371448.0721428571, 400021.0)                   3  385734.54

202110

                                          FreqAbs      Marca
Intervalo
[0.01, 25000.080714285712)                   8073   12500.05
[25000.080714285712, 50000.15142857143)       107   37500.12
[50000.15142857143, 75000.22214285714)         29   62500.19
[75000.22214285714, 100000.29285714285)        14   87500.26
[100000.29285714285, 125000.36357142856)       10  112500.33
[125000.36357142856, 150000.4342857143)         6  137500.40
[150000.4342857143, 175000.505)                 4  162500.47
[175000.505, 200000.57571428572)                4  187500.54
[200000.57571428572, 225000.64642857143)        0  212500.61
[225000.64642857143, 250000.71714285715)        1  237500.68
[250000.71714285715, 275000.78785714286)        0  262500.75
[275000.78785714286, 300000.8585714286)         1  287500.82
[300000.8585714286, 325000.9292857143)          2  312500.89
[325000.9292857143, 350001.0)                   1  337500.96

202109

                                          FreqAbs      Marca
Intervalo
[0.01, 28571.509285714284)                   9046   14285.76
[28571.509285714284, 57143.008571428574)      107   42857.26
[57143.008571428574, 85714.50785714285)        27   71428.76
[85714.50785714285, 114286.00714285714)        16  100000.26
[114286.00714285714, 142857.50642857145)        9  128571.76
[142857.50642857145, 171429.0057142857)         3  157143.26
[171429.0057142857, 200000.505)                 5  185714.76
[200000.505, 228572.0042857143)                 3  214286.25
[228572.0042857143, 257143.5035714286)          0  242857.75
[257143.5035714286, 285715.0028571429)          0  271429.25
[285715.0028571429, 314286.5021428572)          0  300000.75
[314286.5021428572, 342858.0014285714)          0  328572.25
[342858.0014285714, 371429.5007142857)          0  357143.75
[371429.5007142857, 400001.0)                   1  385715.25

202112

                                          FreqAbs      Marca
Intervalo
[0.01, 26923.163076923076)                   6312   13461.59
[26923.163076923076, 53846.31615384616)        88   40384.74
[53846.31615384616, 80769.46923076923)         31   67307.89
[80769.46923076923, 107692.6223076923)         31   94231.05
[107692.6223076923, 134615.7753846154)          6  121154.20
[134615.7753846154, 161538.92846153848)         0  148077.35
[161538.92846153848, 188462.08153846156)        0  175000.51
[188462.08153846156, 215385.23461538463)        3  201923.66
[215385.23461538463, 242308.3876923077)         0  228846.81
[242308.3876923077, 269231.5407692308)          0  255769.96
[269231.5407692308, 296154.69384615385)         0  282693.12
[296154.69384615385, 323077.84692307696)        1  309616.27
[323077.84692307696, 350001.0)                  1  336539.42

202201

                                          FreqAbs      Marca
Intervalo
[0.01, 22000.080714285712)                   8811   11000.05
[22000.080714285712, 44000.15142857143)        96   33000.12
[44000.15142857143, 66000.22214285714)         59   55000.19
[66000.22214285714, 88000.29285714285)         27   77000.26
[88000.29285714285, 110000.36357142856)        25   99000.33
[110000.36357142856, 132000.4342857143)        12  121000.40
[132000.4342857143, 154000.505)                 4  143000.47
[154000.505, 176000.57571428572)                1  165000.54
[176000.57571428572, 198000.64642857143)        2  187000.61
[198000.64642857143, 220000.71714285715)        2  209000.68
[220000.71714285715, 242000.78785714286)        2  231000.75
[242000.78785714286, 264000.8585714286)         0  253000.82
[264000.8585714286, 286000.9292857143)          0  275000.89
[286000.9292857143, 308001.0)                   1  297000.96

In [ ]:
import math

pd.set_option('precision', 2)
datos = df_trans_ent_grupo_sum_unico['SUMA_OP'].astype(float)

# Cálculo del número de intervalos
# Si la parte entera de k es un número impar, redondeamos a la baja
k = 1 + 3.322 * math.log10(len(datos))
numero = int(k)
if numero % 2 == 0:
    periodos = math.ceil(k)
else:
    periodos = int(k)

inf = datos.min()        # Limite inferior del primer intervalo
dif = datos.max()
sup = datos.max() + 1    # Limite superior del último intervalo

intervals = pd.interval_range(
    start=inf,
    end=sup,
    periods=k,
    name="Intervalo",
    closed="left")

df = pd.DataFrame(index=intervals)
df["FreqAbs"] = pd.cut(datos, bins=df.index).value_counts()
df["Marca"]  = df.index.mid

df

In [ ]:
print("prueba 3")